<div class="modal fade" id="selectedShipmentModal" tabindex="-1" aria-labelledby="selectedShipmentModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
      <div class="modal-content">
        <div class="modal-header">
          <h1 class="modal-title fs-6" id="selectedShipmentModalLabel">
            <i class="fa-solid fa-truck"></i> Seçilen Kargo Detayları
          </h1>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body" *ngIf="selectedShipment">
          <div class="card p-3 mb-3 shadow-sm">
            <h3 class="card-title mb-3">
              <i class="fa-solid fa-info-circle"></i> Kargo Bilgileri
            </h3>
            <div class="row">
              <div class="col-lg-6 mb-2">
                <strong>ID:</strong> {{ selectedShipment.id }}
              </div>
              <div class="col-lg-6 mb-2">
                <strong>Takip No:</strong> {{ selectedShipment.trackingNumber }}
              </div>
              <div class="col-lg-6 mb-2">
                <strong>Alıcı:</strong> {{ selectedShipment.receiverName }}
              </div>
              <div class="col-lg-6 mb-2">
                <strong>Adres:</strong> {{ selectedShipment.deliveryAddress }}
              </div>
              <div class="col-lg-6 mb-2">
                <strong>Durum:</strong> {{ selectedShipment.shipmentType }}
              </div>
            </div>
          </div>

          <div class="card p-3 shadow-sm">
            <h4 class="card-title mb-3">
              <i class="fa-solid fa-history"></i> Durum Geçmişi
            </h4>
            <ul class="list-group list-group-flush">
              <li *ngFor="let record of selectedShipment.statusRecords" class="list-group-item d-flex justify-content-between align-items-center">
                <span>{{ record.timestamp | date: 'dd/MM/yyyy, HH:mm' }}</span>
                <span class="badge bg-primary rounded-pill">{{ record.status }}</span>
              </li>
            </ul>
          </div>

          <div class="card p-3 mt-3 shadow-sm">
            <h4 class="card-title mb-3">
              <i class="fa-solid fa-edit"></i> Durum Güncelle
            </h4>
            <div class="input-group mb-3">
              <input [(ngModel)]="statusInput" class="form-control" placeholder="Yeni Durum">
              <button class="btn btn-success" (click)="updateShipmentStatus()">
                <i class="fa-solid fa-check"></i> Güncelle
              </button>
            </div>
          </div>

        </div>
      </div>
    </div>
  </div>